.intro-content {
    background-image: url(../img/leaves.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;

    .title {
        width: 100%;
        margin: 0 auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: inline-block;
        text-align: center;

        h1 {
            color: $white;
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 200;
        }

        .border-top {
            width: 90%;
            margin: 0 auto;
            border-bottom: 1px solid $white;
        }

        .border-bottom {
            width: 80%;
            height: 5px;
            margin: 0 auto;
            margin-top: 2px;
            border-top: 2px solid $white;
            border-bottom: 1px solid $white;
        }
    }

    .subtitle {
        width: 100%;
        margin-top: 17rem;
        text-align: justify;
        margin-left: 1rem;

        h3 {
            color: $white;
            font-weight: 400;
            text-transform: lowercase;

            span {
                font-family: $serif;
                font-size: 3rem;
                font-weight: 700;
            }
        }
    }
}