/* Colors */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i|Playfair+Display:400,400i,700,700i,900,900i&display=swap");
/* Universal */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  color: #121208;
  font-family: "Montserrat";
  background-color: #686850;
  font-size: 16px; }

img {
  max-width: 100%; }

/* Flickity */
/* inherit height from parent */
.main-carousel {
  width: 100%;
  height: 100%; }

.carousel-cell {
  width: 100%;
  height: 100%; }

.intro-content {
  background-image: url(../img/leaves.jpg);
  background-size: cover;
  background-position: center;
  height: 100%; }
  .intro-content .title {
    width: 100%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: inline-block;
    text-align: center; }
    .intro-content .title h1 {
      color: #F7F7F5;
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 200; }
    .intro-content .title .border-top {
      width: 90%;
      margin: 0 auto;
      border-bottom: 1px solid #F7F7F5; }
    .intro-content .title .border-bottom {
      width: 80%;
      height: 5px;
      margin: 0 auto;
      margin-top: 2px;
      border-top: 2px solid #F7F7F5;
      border-bottom: 1px solid #F7F7F5; }
  .intro-content .subtitle {
    width: 100%;
    margin-top: 15rem;
    text-align: justify;
    margin-left: 1rem; }
    .intro-content .subtitle h3 {
      color: #F7F7F5;
      font-weight: 400;
      text-transform: lowercase; }
      .intro-content .subtitle h3 span {
        font-family: "Playfair Display";
        font-size: 3rem;
        font-weight: 700; }

.about {
  overflow: hidden; }

.intro {
  width: 100%;
  margin: 1rem 0 1rem 1rem; }
  .intro h2 {
    font-size: 4rem;
    font-family: "Playfair Display";
    color: #F7F7F5;
    text-align: justify;
    line-height: 4rem;
    font-weight: 600; }
    .intro h2 span {
      font-family: "Montserrat";
      font-weight: 100;
      border-bottom: 1px solid #F7F7F5; }
  .intro p {
    font-size: 1.25rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-weight: 500; }

.grid-images {
  display: inline-block;
  position: relative; }
  .grid-images .img-1 {
    width: 95%;
    position: relative;
    top: 10%;
    left: 15%;
    padding: 0.5rem;
    border-top: 2px solid #B58C5E;
    border-left: 2px solid #B58C5E; }
  .grid-images .img-2 {
    position: relative;
    top: -5px;
    left: -10%;
    padding: 0.5rem;
    border: 2px solid #B58C5E; }

.mission {
  display: inline-block;
  text-align: center; }
  .mission .mission-1-container,
  .mission .mission-2-container {
    margin: 1rem;
    border-top: 2px solid #B58C5E;
    border-bottom: 2px solid #B58C5E;
    padding: 1rem; }
  .mission .mission-1-container {
    border-bottom: 3px solid #B58C5E;
    margin-bottom: 0.5rem; }
  .mission .mission-2-container {
    border-top: 3px solid #B58C5E;
    margin-top: 0.5rem; }
  .mission .mission-1-text,
  .mission .mission-2-text {
    background-color: #B58C5E;
    padding: 2rem; }
  .mission h4 {
    font-family: "Playfair Display";
    font-size: 2rem;
    font-weight: 700;
    color: #F7F7F5;
    padding-bottom: 0.5rem; }
  .mission .line-2 {
    border-top: 1.5px solid #686850;
    padding-top: 0.5rem; }
  .mission .line-3 {
    background-color: #B58C5E;
    height: 5px; }
  .mission p {
    font-weight: 500;
    margin-bottom: 1.5rem;
    letter-spacing: 0.05rem; }
  .mission a {
    text-decoration: none;
    color: #F7F7F5;
    padding: 0.5rem;
    border-top: 0.5px solid #686850;
    border-bottom: 0.5px solid #686850;
    font-weight: 500; }
    .mission a span {
      padding-right: 0.5rem;
      font-weight: 800; }
