.mission {
    text-align: center;
    float: left;

    @include lg {
        width: 80%;
        float: none;
        margin: 0 auto;
        margin-top: 11rem;
    }

    @include xl {
        margin-top: 20rem;
    }

    .mission-1-container,
    .mission-2-container {
        padding: 1rem;
        margin: 2rem;
        border: 2px solid $tan;
        outline: 1px solid $tan;
        outline-offset: 5px;
        background-color: transparent;
    }

    .mission-1-text,
    .mission-2-text {
        margin: 1rem;
    }

    h4 {
        font-family: $serif;
        font-size: 2rem;
        font-weight: 700;
        color: $white;
        padding-bottom: 0.5rem;
    }

    .line-2 {
        border-top: 1.5px solid $tan;
        padding-top: 0.5rem;
    }

    p {
        font-weight: 800;
        margin-bottom: 1.5rem;
        letter-spacing: 0.05rem;
    }

    a {
        text-decoration: none;
        color: $white;
        padding: 0.5rem;
        border-top: 0.5px solid $white;
        border-bottom: 0.5px solid $white;
        font-weight: 500;

        &:hover {
            color: $green;
        }

        span {
            padding-right: 0.5rem;
            font-weight: 800;
        }
    }
}