.mission {
    display: inline-block;
    text-align: center;
    height: 100%;

    .mission-1-container,
    .mission-2-container {
        margin: 1rem;
        border-top: 2px solid $tan;
        border-bottom: 2px solid $tan;
        padding: 1rem;
    }

    .mission-1-container {
        border-bottom: 3px solid $tan;
        margin-bottom: 0.5rem;
    }

    .mission-2-container {
        border-top: 3px solid $tan;
        margin-top: 0.5rem;
    }

    .mission-1-text,
    .mission-2-text {
        background-color: $tan;
        padding: 2rem;
    }

    h4 {
        font-family: $serif;
        font-size: 2rem;
        font-weight: 700;
        color: $white;
        padding-bottom: 0.5rem;
    }

    .line-2 {
        border-top: 1.5px solid $green;
        padding-top: 0.5rem;
    }

    .line-3 {
        width: 95%;
        margin: 0 auto;
        background-color: $tan;
        height: 5px;
    }

    p {
        font-weight: 500;
        margin-bottom: 1.5rem;
        letter-spacing: 0.05rem;
    }

    a {
        text-decoration: none;
        color: $white;
        padding: 0.5rem;
        border-top: 0.5px solid $green;
        border-bottom: 0.5px solid $green;
        font-weight: 500;

        &:hover {
            color: $green;
        }

        span {
            padding-right: 0.5rem;
            font-weight: 800;
        }
    }
}